@import 'bootstrap';
@import 'bootstrap/theme';
@import 'text-outline';

$black: #000;
$white: #fff;
$content-background: #a5a1a1;

h1 {
  @include stroke(3, $black);
  color: $white;
  font-size: 5em;
  text-align: center;
}

body {
  background-image: url('http://www.bostonplans.org/getattachment/71f1265e-a8eb-4acb-83e5-28c640e683d7/');
  background-size: cover;
}
