<h3>All Datasets</h3>

{{#each model as |dataset|}}
  {{visualizr-dataset dataset=dataset}}
  {{#link-to 'dataset' dataset}}
    <button class="btn btn-primary btn-sm">View Dataset</button>
  {{/link-to}}
{{/each}}
