<h3>Your saved Visualizations</h3>
{{#each model as |viz|}}
  <p>{{viz.dataset.name}}: {{viz.dataset.year}}</p>
  {{#link-to 'visualization' viz}}
    <button class="btn btn-primary btn-sm">View Visualization</button>
  {{/link-to}}
{{/each}}
