<div class="col-md-6 col-md-offset-3">
  <h3>Your saved Visualizations</h3>
  <ul class="list-group">
    {{#each model as |viz|}}
      {{#if viz.editable}}
        <li class="list-group-item">
          <p>{{viz.dataset.name}}: {{viz.dataset.year}}</p>
          {{#link-to 'visualization' viz}}
            <button class="btn btn-primary btn-sm">View Visualization</button>
          {{/link-to}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
